# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Package lock (optional)
package-lock.json

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

